pandas==1.0.5==py38h959d312_0
pandas-ml==0.6.1==pypi_0
numpy==1.18.5==py38h1da2735_0
numpy-base==1.18.5=py38h3304bdc_0
numpydoc==1.1.0==py_0
olefile==0.46==py_0
opencv-python==4.5.1.48==pypi_0
openpyxl==3.0.4==py_0
openssl==1.1.1h==haf1e3a3_0
packaging==20.4==py_0
anaconda==custom==py38_1
